<div class='container'>
      <h2 class="my-3" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #b0c4de;">みんなの旅一覧</h2>
      <%= render 'index', travels: @travels %>
  <div class="flex justify-end">
   <%= paginate @travels %>
  </div>
</div>