<div class='container' style="width: 85%">
 <div class="row" style="border-bottom-width: 4px; border-bottom-style: solid; border-bottom-color: #b0c4de; padding-top: 10px;">
 <h2 class="col-4">
  フォロワー一覧
 </h2>
 <div class="col">
 <%= link_to "フォロー一覧", user_followings_path,class: "button-hover" %>
 </div>
 </div>
  <%= render 'users/index',users: @users %>
  <%= paginate @users %>
</div>
