<head>
  <style>
.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  </style>
</head>
  <div id="container" class="parent-container">
    <%= image_tag user.get_profile_image, class: "rounded-circle mt-3", size:'200x200' %>
    <h4 class="text-align: center; mt-3">
      <%= user.name.truncate(7) %>
    </h4>
    <table class="table table-borderless">
  <tr>
    <th>
      <%= link_to "フォロー一覧", user_followings_path(user), class: "btn btn-outline-success rounded-pill" %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to "フォロワー一覧", user_followers_path(user), class: "btn btn-outline-success rounded-pill" %>
    </th>
  </tr>
</table>
</div>
