<%= form_with model: [travel, travel_comment], local: false do |f| %>
  <%= f.text_area :comment, rows:'10', cols:'50', placeholder: "コメントをここに", class: "form-control col", id: "comment_textarea" %>
    <div class="row ml-1 mt-2">
    <%= f.button "送信", class: 'button-hover comment' %>
    &nbsp;&nbsp;
    <% end %>
       <button class="button-hover comment"id="clear">入力内容をクリア</button>
        <script>
        $(function(){
          $("#clear").click(function(){
            $("#comment_textarea").val("");
          });
        });
      </script>
      </div>
  </div>
