
<%= render "homes/swiper" %>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4 class="text-center">当サイトは、旅行好きの皆様が、自分の旅行写真を投稿したり、感想コメントを共有したりするためのSNSサイトです。<br>他の旅行好きなユーザーとの交流を通じて、新しい旅の目的地や穴場スポットを発見することができます。</h4>
      <h3 class="text-center">お試しで使ってみよう</h3>
      <div class="text-center">
        <%= link_to users_guest_sign_in_path, class: "button-hover guest mx-auto", method: :post do %>
        <i class="fa-solid fa-circle-user"></i>&nbsp;&nbsp;ゲストログイン（体験用)
        <% end %>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6">
          <h4 class="text-center">会員の方はこちら</h4>
          <div class="text-center">
            <div class="mb-0">
              <%= link_to new_user_session_path, class: "button-hover mx-auto" do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="text-center">新規登録の方はこちら</h4>
          <div class="text-center">
            <div class="mb-0">
              <%= link_to new_user_registration_path, class: "button-hover mx-auto" do %>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>