@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

#app-container {
  transform: scale(0.95) !important;
}

.zen-kurenaido-regular {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pagination {
  justify-content: center;
}

body {
  background-color: #f0ffff;
}

/*地図*/
#map {
  width: 380px;
  height: 300px;
  border-radius: 30px 30px 30px 30px;
}

/*コメントやDMのメッセージの吹き出し*/
.line__balloon_l,
.line__balloon_r {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.line__balloon_r {
  flex-direction: row-reverse;
}
.line__balloon_img {
  flex-shrink: 0;
  position: relative;
  width: 15%;
  max-width: 70px;
  border-radius: 50%;
  border: 1px solid rgb(200,200,200);
  background: white;/* アイコン背景色不要ならこの一行削除(PNG画像に配慮) */
}
.line__balloon_img::before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* W150 H150 程度の正方形を推奨 */
.line__balloon_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.line__balloon_l .balloon__content {
  margin: 0 0 0 10px;
}
.line__balloon_r .balloon__content {
  margin: 0 10px 0 0;
}
.line__balloon_name {
  margin: 0 0 -.6em;
  color: rgb(80,80,80);
  font-weight: bold;
  font-size: 13px;/* 名前フォントサイズ */
}
.line__balloon_r .line__balloon_name {
  text-align: right;
}
.line__balloon_text {
  position: relative;
  max-width: 500px;/* 最大横幅 不要ならこの一行削除 */
  margin: .6em 0 0 0 !important;
  padding: .6em 1em;
  border-radius: 25px;
  color: black;/* 吹き出し テキスト色 */
  font-size: 16px;/* テキストフォントサイズ */
}
.line__balloon_l .line__balloon_text {
  background: #98fb98;/* 右吹き出し 背景色 */
}
.line__balloon_r .line__balloon_text {
  background: #98fb98;/* 左吹き出し 背景色 */
}
.line__balloon_text::before {
  content: "";
  display: block;
  position: absolute;
  height: 35px;
  width: 18px;
  background: 0 0;
  border: 0;
  top: -20px;
}
.line__balloon_l .line__balloon_text::before {
  left: -8px;
  box-shadow: inset -3px -15px 0 -5px #98fb98;/* rgb(245,245,245)は左吹き出し背景色と同色 */
  border-radius: 40px 0 0 40px;
}
.line__balloon_r .line__balloon_text::before {
  right: -8px;
  box-shadow: inset 3px -15px 0 -5px #98fb98;/* rgb(133,226,73)は右吹き出し背景色と同色 */
  border-radius: 0 40px 40px 0;
}



.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}



.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

/*ボタンの緑色の緑色のホバー*/
.button-hover{
  display: block;
  width: 200px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}


.button-hover {
  color: #008b8b;
  border: 3px solid #008b8b;
}

.button-hover:before,
.button-hover:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #008b8b;
  z-index: -1;
  transition: all .35s;
}

.button-hover:before{
  opacity: .5;
}

.button-hover:after{
  transition-delay: .2s;
}

.button-hover:hover{
  color: #fff;
}

.button-hover:hover:before,
.button-hover:hover:after{
  top: 0;
}

.button-hover.show{
  width: 80px;
}

.button-hover.new,
.button-hover.edit,
.button-hover.home,
.button-hover.dm{
  width: 100%;
}

.button-hover.index{
  width: 30px;
}

.button-hover.search{
  width: 57.6px;
}

.button-hover.guest{
  width: 270px;
}

.button-hover.comment{
  width: 200px;
}

/*削除ボタンの赤色のホバー*/
.button{
  display: block;
  width: 200px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  color: red;
  border: 3px solid red;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}


.button:before,
.button:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: red;
  z-index: -1;
  transition: all .35s;
}

.button:before{
  opacity: .5;
}

.button:after{
  transition-delay: .2s;
}

.button:hover{
  color: #fff;
}

.button:hover:before,
.button:hover:after{
  top: 0;
}

.button.show{
  width: 80px;
}

.button.edit{
  width: 100%;
}

.button.index{
  width: 30px;
}