 <p class="text-center mt-5">© Trip_history 2021. All rights reserved.</p>
<h5 style="text-align: right;" ><%= link_to "お問い合わせ", new_contact_path, style: "color: #fffacd; font-weight: bold; text-shadow: 1px 2px 3px #808080;" %></h5>