<head>
  <style>
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
    }

    .center-align {
      /* 真ん中に配置するためのスタイル定義 */
    }

    .centered-logo {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<div class="navbar center-align" style="background-color: #008b8b;">
  <%= link_to root_path do %>
    <%= image_tag 'Trip_history - MarkMaker Logo.png', width:"200", height:"100%", class: "centered-logo" %>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'layouts/nav' %>
  <% elsif admin_signed_in? %>
    <div class="navbar right-align-item">
      <form class="form-inline my-2 my-lg-0" action="<%= admin_search_path %>" method="get">
        <input class="form-control mr-sm-2 rounded-pill" type="search" name="keyword" placeholder="キーワードを入力" aria-label="Search">
        <button class="btn btn-light rounded-pill mr-3" type="submit">検索</button>
      </form>
    </div>
  <% end %>
</div>