<head>
  <style>
.animation{
  width:100%;
  height:300px;
  position:fixed;
  bottom:-60px;
  right:0;
  transform: translateX(calc(22% + 10px));
}
/*フォント*/
.bound span{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0px;
  margin: auto;
  font-size:5em;
  font-weight:bold;
  color:#0091EA;
  text-align:center;
  width:100px;
  height:100px;
}

  .parent-element {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/*アニメーション指定
文字数に合わせてleftや開始時間（2つ目のs）を設定する*/
.bound span:nth-child(1){ left:-4.2em; animation: bound-anim 0.8s 0.0s infinite;}
.bound span:nth-child(2){ left:-2.8em; animation: bound-anim 0.8s 0.1s infinite;}
.bound span:nth-child(3){ left:-1.4em; animation: bound-anim 0.8s 0.2s infinite;}

.bound span:nth-child(4){ left: 0.0em; animation: bound-anim 0.8s 0.3s infinite;}

.bound span:nth-child(5){ left: 1.4em; animation: bound-anim 0.8s 0.4s infinite;}

.bound span:nth-child(6){ left: 2.8em; animation: bound-anim 0.8s 0.5s infinite;}

.bound span:nth-child(7){ left: 4.2em; animation: bound-anim 0.8s 0.6s infinite;}

.bound span:nth-child(8){ left: 6.0em; animation: bound-anim 0.8s 0.7s infinite;}
/*アニメーションキーフレーム
小さいフォントサイズの場合はtopの数値も縮小すると飛び過ぎない*/
@keyframes bound-anim {
  0%,100% {top: 0;transform: scale(1);}
  30% {top: -25%;}
  50% {transform: scale(1);}
  90% {top: 0;transform: scale(1.2,0.8);}
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.element {
  position: absolute;
  display: none;
  animation-duration: 1s;
}

.fadeIn {
  animation-name: fadeIn;
  display: block;
}

.fadeOut {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}
  </style>

</head>

<div class="loading">

  <div class="loading-animation">
     <div class="element" style="z-index: 9999;"><i class="fa-solid fa-check fa-2xl"></i></div>

  <script>
    var element = document.querySelector(".element");

    document.addEventListener("click", function(event) {
      element.style.left = event.clientX + "px";
      element.style.top = event.clientY + "px";

      if (element.classList.contains("fadeOut")) {
        element.classList.remove("fadeOut");
      }

      element.classList.add("fadeIn");
      setTimeout(function() {
        element.classList.remove("fadeIn");
        element.classList.add("fadeOut");
      }, 2000);
    });
  </script>
<div class="parent-element">

<div style="background-color: #f0f8ff; border-radius: 10px; width:600px; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">
  <h3 style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9;">
    <% if controller_name == 'users' && action_name == 'index' %>
      <i class="fas fa-users"></i> 旅人一覧
    <% elsif controller_name == 'travels' && action_name == 'index' %>
      <i class="fa-solid fa-suitcase-rolling"></i> 旅一覧
    <% elsif action_name == 'favorites' %>
      <i class="fa-solid fa-thumbs-up"></i> いいねした旅
    <% elsif action_name == 'show' && controller_name == 'travels' %>
      <i class="fa-solid fa-plus"></i> 投稿ページ
      <% elsif action_name == 'show' && controller_name == 'users' %>
       <i class="fas fa-home"></i> 旅人の部屋
    <% else %>
     <i class="fa-solid fa-person-walking-luggage"></i> Trip_history
    <% end %>
  </h3>
  <div>
    <% if controller_name == 'users' && action_name == 'index' %>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">旅人一覧では</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">様々な旅人と出会うことができフォローユーザー同士で</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">DMを行うこともできます</h5>
    <% elsif controller_name == 'travels' && action_name == 'index' %>
    <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">旅一覧では</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">様々な旅を一覧表示で閲覧し</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">いいねをすることができます</h5>
    <% elsif action_name == 'favorites' %>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">いいねした旅では</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">いいねした投稿を一覧表示で</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">閲覧することができます</h5>
      <% elsif action_name == 'show' && controller_name == 'travels' %>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">投稿ページでは</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">旅の記録を共有し、詳しい情報を</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">知ることができます</h5>

    <% elsif action_name == 'show' && controller_name == 'users' %>
    <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">旅人の部屋では</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">新しく投稿したりプロフィールを</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">変更することができます</h5>
      <% else %>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">当サイトでは</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">自分の旅行写真を投稿したり</h5>
      <h5 style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">感想コメントを共有することができます</h5>
    <% end %>
  </div>
</div>

</div>
  </div>
  <div class="container animation">
  <p class="bound">
    <span>l</span>
    <span>o</span>
    <span>a</span>
    <span>d</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
    <span>
    <i class="fa-solid fa-suitcase-rolling"></i>
    </span>
  </p>
</div>
</div>

<script>
// ロード時の処理を実行する
$(document).ready(function() {
  var webStorage = function() {
    if (sessionStorage.getItem('access')) {
      // 2回目以降アクセス時の処理
      $(".loading").removeClass('is-active');
      $(".loading-animation").removeClass('is-active');
    } else {
      // 初回アクセス時の処理
      sessionStorage.setItem('access', 'true');
      $(".loading-animation").addClass('is-active');
      setTimeout(function() {
        $(".loading").addClass('is-active');
        $(".loading-animation").removeClass('is-active');
      }, 3000);
    }
  }
  var logout = function() {
    sessionStorage.removeItem('access');
  }
  webStorage();
  logout();
});
</script>